# Node
node_modules/
dist/
build/

# Env files
.env
*.env
backend/src/cmd/solidity-compiler-api/.env
# OS
.DS_Store
Thumbs.db

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor
.vscode/
.idea/

artifacts/
cache/
contracts/
backend/src/cmd/solidity-compiler-api/.env
